mixin component(name, props)
  - var tagName = attributes.tagName || 'div'
  - delete attributes.tagName
  #{tagName}(data-component=name data-props=JSON.stringify(props))&attributes(attributes)
    block

mixin link(props)
  - var tagName = 'a'
  #{tagName}(data-component='Link' data-props=JSON.stringify(props))
    block
